body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}
/* Active   */
.navbar-nav  .nav-item {
  color: #fff;
 }
.navbar-nav  .nav-item .active  {
  color: #feb543 !important;
  text-decoration: none;
}
.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 25px;
  padding-top: 5px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.custom_heading-container h2 {
  font-weight: bold;
  border-bottom: 1px solid #feb543;
  padding-bottom: 5px;
}

/*header section*/
.navbar {
  position: relative;
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.hero_section {
  padding: 4% 0;
  min-height: 20vh;
  background: linear-gradient(to right, #864ddf, #203376);
  overflow: hidden;
}

.main_heading {
  font-size: 3vw;
  font-family: 'Poppins';
  font-weight: 600;
}

.subHeading {
  font-size: 1.5vw; 
}
.hero_btn {
  padding: 1vw 2.5vw; 
  font-size: 1.2vw; 
  font-weight: 600;
  line-height: 1.188;
  text-transform: capitalize;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #674df3;

}
.hero_btn:hover {
  transform: scale(1.1); 
}
.heart-container {
  position: relative;
  width: 500px; 
  max-height: 500px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.slick-slide img {
  width: 100%;
}
@media (max-width: 1200px) {
  .hero_section {
    padding: 5% 0;
  }
}

@media (max-width: 1050px) {
    .hero_section {
      padding: 2% 0;
    }
    .heart-container {
  position: relative;
  width: 300px; 
  max-height: 500px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
}
    
@media (max-width: 1050px) {
  .hero_section {
    padding: 8% 0;
  }
  .heart-container {
position: relative;
width: 300px; 
max-height: 500px;
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
}

@media (max-width: 767px) {
  .hero_section {
    padding: 18% 0%;
  }
  
.heart-container {
position: relative;
width: 300px; 
max-height: 500px;
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
}

@media (max-width: 700px) {
  .hero_section {
    padding: 22% 0%;
  }
  .content_div_img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.heart-container {
position: relative;
width: 300px; 
max-height: 500px;
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
}



@media (max-width: 700px) {
  .hero_section {
    padding: 28% 0%;
  }
  .content_div_xs{
    text-align: center;
  }
}


.about_Wrapper{
  background: linear-gradient(to right, #864ddf, #203376);
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.heading {
  padding: 40px 30px 10px 27px;
}
/* Over all subheadeing size will be same */
.font_size {
  font-size: 16px;
}
.sub_page .hero_area {
  height: auto;
}

.sub_page .hero_area::before {
  display: none;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding-top: 15px;
  background: linear-gradient(to right, #864ddf, #203376);
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #f9fcfb;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../public/images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #f9fcfb;
  margin-top: 5px;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../public/images/menu.png);
  background-size: 40px;
}

/*end header section*/
/* slider section */
.slider_section {
  color: #f9fcfb;

}
.sub-heading {
  padding: 0px 30px 10px 27px;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.slider_section #carouselExampleIndicators {
  position: unset;
}

.slider_section .carousel_btn-container {
  width: 110px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 2%;
  z-index: 999;
}

.slider_section .carousel_btn-container .carousel-control-prev,
.slider_section .carousel_btn-container .carousel-control-next {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: #383a90;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider_section .carousel_btn-container .carousel-control-prev:hover,
.slider_section .carousel_btn-container .carousel-control-next:hover {
  background-color: #feb543;
}

.slider_section .carousel_btn-container .carousel-control-prev {
  background-image: url(../public/images/prev.png);
}

.slider_section .carousel_btn-container .carousel-control-next {
  background-image: url(../public/images/next.png);
}

.slider_section ol.carousel-indicators {
  margin: 0;
  width: 75px;
  bottom: 10%;
  left: 47.5%;
}

.slider_section ol.carousel-indicators li {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  text-indent: 0px;
  text-align: center;
  line-height: 55px;
  color: #f9fcfb;
  background-color: #547bfe;
  opacity: 1;
  display: none;
}

.slider_section ol.carousel-indicators li.active {
  display: block;
}

.slider_detail-box h1 {
  font-weight: bold;
  /* font-size: 5.9vw; */
  /* margin-bottom: 25px; */
}

.slider_detail-box .btn-box a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin: 35px 0 50px 0;
}

.slider_detail-box .btn-box a:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.big-size {
  width: 90px !important;
}

.flex-parent {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-w85 {
  margin: 0 auto;
  width: 85%;
}

.slider_img-box {
  position: relative;
  width: 75%;
  margin: 20px auto;
}

.slider_img-box img {
  width: 100%;
  display: flex;
  align-self: center;
}

.welcome_section {
  text-align: center;
}

.welcome_section .img-box {
  width: 65%;
  margin: 0 auto;
}

.welcome_section .img-box img {
  width: 100%;
}

.welcome_section .detail-box {
  margin-top: 45px;
}

.welcome_section .detail-box a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 45px;
}

.welcome_section .detail-box a:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.service_section {
  text-align: center;
  color: #f9fcfb;
  background: linear-gradient(to right, #1b3374, #8f4fe8);
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.service_section .custom_heading-container h2 {
  margin-top: 60px;
  border-color: #f9fcfb;
}

.service_section .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service_section .service_container .service_box {
  width: 30%;
  min-width: 300px;
  margin: 35px 15px;
}

.service_section .service_container .service_box .img-box {
  border-radius: 18px;
  overflow: hidden;
}

.service_section .service_container .service_box .img-box img {
  width: 100%;
}

.service_section .service_container .service_box .detail-box {
  margin-top: 30px;
}

.service_section .service_container .service_box .detail-box h4 {
  font-weight: bold;
}

.service_section a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.service_section a:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.sub_page .service_section {
  margin-top: 00px;
  margin-bottom: 150px;
}

.problem_section {
  text-align: center;
}

.problem_section .img-box {
  width: 65%;
  margin: 0 auto;
}

.problem_section .img-box img {
  width: 100%;
}

.problem_section .detail-box {
  margin-top: 45px;
}

.problem_section .detail-box a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 45px;
}

.problem_section .detail-box a:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.why_section {
  color: #f9fcfb;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1b3374),
    to(#8f4fe8)
  );
  background: linear-gradient(to right, #1b3374, #8f4fe8);
}

.why_section .custom_heading-container h2 {
  border-color: #f9fcfb;
}

.why_section p {
  text-align: center;
  margin: 40px 0 55px 0;
}

.why_section .row .col-md-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.why_section .row .col-md-3 .img-box {
  width: 45px;
  margin-right: 15px;
}

.why_section .row .col-md-3 .img-box img {
  width: 100%;
}

.client_section h2 {
  font-weight: bold;
  text-align: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 65px;
  height: 60px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: #383a90;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #feb543;
}

.client_section .carousel-control-prev {
  background-image: url(../public/images/prev.png);
}

.client_section .carousel-control-next {
  background-image: url(../public/images/next.png);
}

.client_container {
  width: 55%;
  margin: 0 auto;
}

.client_container .client_text {
  padding: 30px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
}

.client_container .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}

.client_container .detail-box .img-box {
  width: 75px;
  margin-right: 15px;
  border: 10px solid #9852f2;
  border-radius: 100%;
  overflow: hidden;
}

.client_container .detail-box .img-box img {
  width: 100%;
}

.client_container .detail-box .name h5 {
  margin: 0;
}

.client_container .detail-box .name p {
  text-transform: uppercase;
  color: #0b93b1;
  margin: 0;
}

.contact_section .contact_heading {
  text-align: center;
  margin-bottom: 45px;
}

.contact_section .contact_heading h2 {
  font-weight: bold;
}

.contact_section form .form-control {
  border: none;
  background-color: #f2f3f4;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  height: 50px;
}

.contact_section form .form-control#inputMessage {
  height: 120px;
}

.contact_section form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-image: url(../public/images/down-arrow.png);
  background-repeat: no-repeat;
  background-position: 98%;
}

.contact_section .button {
  display: inline-block;
  padding: 12px 40px;
  background-color: #a053f9;
  color: #f9fcfb;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  margin-top: 35px;
  font-size: 15px;
}

.contact_section button:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

/* info section */
.footer_bg {
  background: linear-gradient(to right, #864ddf, #203376);
  padding-top: 50px;
}

.info_section {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.info_section h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #f9fcfb;
  margin-bottom: 35px;
}

.info_section img {
  width: 100%;
}

.info_section ul {
  padding: 0;
  max-height: 120px;
  overflow: scroll;
}

.info_section ul li {
  list-style-type: none;
  margin: 10px 0;
}

.info_section ul li a,
.info_section ul li a:hover {
  color: #fff;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
  color: #fff;
  padding: 1px 3px;
  border-bottom: 2px solid #feb543;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info_section .form_container label {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.info_section .form_container input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #fff;
  margin-left: 45px;
  margin-right: 10px;
}

.info_section .form_container button {
  display: inline-block;
  padding: 8px 50px;
  background-color: #ffca56;
  color: #f9fcfb;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  border: none;
  text-transform: uppercase;
}

.info_section .form_container button:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.info_section .form_container button:hover {
  -webkit-transform: none;
  transform: none;
}

/* end info section */
/* footer section*/
.footer_section {
  background: linear-gradient(to right, #864ddf, #203376);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_section p {
  color: #f9fcfb;
  margin: 0;
  text-align: center;
  padding: 20px 15%;
  border-top: 1px solid #f9fcfb;
}

.footer_section a {
  color: #f9fcfb;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */

/* left Div show  */
.left-div {
  position: fixed;
  top: 85px;
  right: 0;
  width: 200px;
  height: calc(100vh - 90px);
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
  z-index: 999;
  background: linear-gradient(to right, #864ddf, #203376);
}
.left-div.show {
  border-top-left-radius: 4px;
  transform: translateX(0);
  z-index: 999;
}
/* new our services section */
.row_service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column_service{
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.icon_wrapper
{
  background-color: #b086f9;;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #2e2e22;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  color: #fff;
}
.icon_wrapper:hover{transform: rotate(360deg);}
.card_service{
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(to right, #864ddf, #203376);
  /* background: linear-gradient(#6930cc 50%, #a053f9 50%); */
  background-size:100% 200% ;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.5s;
}
/* .card_service:hover */
/* { */
  /* background-position: 0 100%; */
  /* transition: 0.5s; */
/* } */
.card_service:hover .icon_wrapper {
  transform: rotate(360deg); /* Rotate the icon 90 degrees on hover */
}
.service_name
{
  font-size: 18px;
  margin-top: 15px;
}
.service_des
{
  font-size: 14px;
  margin-bottom: 0px;
}
/* Adding media Queries for responsivenes */
/* Making right div responsive */

@media (max-width: 330px) {
  .left-div {
    top: 65px !important;
  }
}
@media (max-width: 376px) {
  /*Trying header section static  */
  .left-div {
    top: 75px !important;
  }
  .header_section {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
  }
}

@media (max-width: 400px) {
  .left-div {
    top: 90px;
  }
  .header_section {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
  }
}

@media (max-width: 993px) {
  .left-div {
    top: 104px;
  }
  .header_section {
    position: fixed !important;
    top: 0px;
    width: 100%;
    z-index: 9;
  }
  .responsive-margin {
    margin-top: 50px;
  }
  .slider_detail-box h1 {
    font-size: 5.9vw;
  }
}

@media (max-width: 768px) {
  .service_section {
    padding-top: 0px !important;
    background-position: bottom;
    margin-top: 0px !important;
  }
  .slider_detail-box h1 {
    font-size: 3.9vw;
  }
  .specfic-Height {
    height: 45vh;
  }
}
@media screen and (max-width: 769px) {
  .slider_section {
    color: #f9fcfb;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% + 3em);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  /* .hero_area::before {
    content: "";
    position: absolute;
    width: 58%;
    height: 86%;
    /* background-image: url(../public/images/hero-bg.png); */
    /* background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 127px;
    right: 0;
  } */ */
  .responsive-margin {
    margin-top: 90px !important;
  }
  .slider_detail-box h1 {
    font-size: 3.9vw;
  }
}
@media screen and (max-width: 771px) {
  .slider_section {
    color: #f9fcfb;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% + 3em);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .sub-heading {
    padding: 0px 30px 0px 1px;
  }
  .slider_detail-box h1 {
    font-size: 3.9vw;
  }
}

@media screen and (max-width: 993px) {
  .slider_section {
    color: #f9fcfb;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% + 3em);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .heading {
    padding: 40px 34px 0px 0px;
  }
  .sub-heading {
    padding: 0px 30px 0px 1px;
  }
  .slider_detail-box h1 {
    font-size: 3.9vw;
  }
}

@media (max-width: 768px) {
  .footer_bg {
    padding-top: 30px !important;
  }
}
@media screen and (max-width: 1755px) {
  .hero_area {
    padding-top: 50px;
  }
  /* .hero_area::before {
    content: "";
    position: absolute;
    width: 38%;
    height: 95vh;
    background-image: url(/_next/static/media/hero-bg.326086f6.png);
    background-size: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    top: 40%;
    right: 10%;
  } */
}
@media screen and (max-width: 769px) {
  /* For making elephant image responsive */
  .responsive {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .responsiveUL li {
    text-align: center;
  }
  .techG4 {
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
  }
  .sub-heading {
    padding: 0px !important;
  }
  .responsive-margin {
    margin-top: 50px !important ;
  }
}

@media screen and (max-width: 992px) {

  .left-div .navbar-nav {
    width: 100% !important;
  }
  .left-div .navbar-nav .nav-item {
    padding-left: 5px;
  }
  .left-div .navbar-nav .nav-item .nav-link {
    padding-left: 5px;
    color: #fff;
  }
  .left-div .navbar-nav a:is(:active).active {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .left-div .navbar-nav .nav-item:hover {
    width: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .ipadAirResponsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;;
  }
}
@media screen and (max-width: 822px) {
  .ipadAirResponsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1020px) {
  /* .left-div {
    position: fixed;
    top: 81px;
    right: 0;
    width: 200px;
    height: calc(100vh - 104px);
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
    z-index: 999;
    background: linear-gradient(to right, #864ddf, #203376);;
  }
 
  .left-div.show {
      transform: translateX(0);
      z-index: 99999;
} */
  .ipadAirResponsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* hiding the sidebar at 992px */

@media screen and (min-width: 992px) {
  .left-div {
    display: none;
  }
  .left-div.show {
    display: none;
  }
}
@media screen and (max-width: 910px) {
  .specfic-Height {
    height: 65vh !important;
  }
}
@media screen and (min-width: 768px) {
  .column_service{
    flex: 0 50%;
    max-width: 50%;
  }
  
}
@media screen and (min-width: 992px) {
  .column_service{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

}